/* Importeer lettertypen */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Rubik+Mono+One&display=swap');

/* Algemene stijl voor de quizcontainer */
.quiz {
    margin: -10px!important;
}

/* Stijl voor de header met navigatie */
header ul {
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 0px;
    height: 63px;
}

header li {
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 400;
    font-size: 30px;
    list-style: none;
    cursor: pointer;
    transition: ease.2s;
}

header li:hover {
    color: #3726FF;
}

header {
    position: absolute;
    width: 100vw;
}

header img {
    width: 80px;
}

/* Stijl voor de footercontainer */
.footer-container {
    display: flex;
    justify-content: center;
    gap: 400px;
    padding: 40px;
}

/* Stijl voor het footerlogo */
.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer img {
    width: 100px;
}

.logo-footer h3 {
    font-size: 70px;
    color: black;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

/* Stijl voor de middensectie van de footer */
.footer-container .middle h5 {
    font-size: 24px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    font-weight: 100;
    margin-top: -52px;
}

/* Stijl voor de bovenkant van de footer */
footer {
    border-top: solid 4px #cfcfcf;
}

/* Stijl voor de body van de quizpagina */
.quiz body {
    overflow: hidden;
}

/* Stijl voor de vraagnummerindicator */
.question-count h2 {
    background-color: black;
    font-size: 24px;
    border-radius: 50px;
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
    width: 147px;
    height: 17px;
    position: fixed;
    top: 2px;
    padding: 10px 7px 20px 55px;
    right: 10px;
    font-weight: 100;
}

/* Stijl voor de container van de vragen */
.questions-container {
    padding: 80px 0px 138px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Stijl voor de vraagtekst */
.question {
    font-family: 'Cabin', sans-serif;
    font-size: 42px;
    text-align: center;
    margin-bottom: 167px;
    color: black;
    padding: 82px;
    font-weight: 100;
}

/* Stijl voor de foutmelding bij ontbrekende vragen */
.error-no-questions {
    text-align: center;
    font-size: 60px;
    font-family: 'Rubik Mono One', sans-serif;
    color: red;
    padding: 300px 0px;
}

/* Stijl voor de antwoordknop A */
.answer_a {
    background-color: #3726FF;
    color: white;
    padding: 20px 50px 20px 0px;
    font-family: 'Cabin', sans-serif;
    font-size: 32px;
    font-weight: 100;
    border-radius: 50px;
    border: none;
    transition: ease.3s;
}

.answer_a:hover {
    letter-spacing: 5px;
    cursor: pointer;
    padding: 20px 80px 20px 60px;
}

.answer_a::before {
    content: "A";
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 32px;
    background-color: black;
    padding: 11px 17px;
    border-radius: 100%;
    font-weight: 100;
    margin: 10px 35px 0px 10px;
}

/* Stijl voor de antwoordknop B */
.answer_b {
    background-color: #DC136C;
    color: white;
    padding: 20px 50px 20px 0px;
    font-family: 'Cabin', sans-serif;
    font-size: 32px;
    font-weight: 100;
    border-radius: 50px;
    border: none;
    transition: ease.3s;
}

.answer_b:hover {
    letter-spacing: 5px;
    cursor: pointer;
    padding: 20px 80px 20px 60px;
}

.answer_b::before {
    content: "B";
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 32px;
    background-color: black;
    padding: 11px 17px;
    border-radius: 100%;
    font-weight: 100;
    margin: 10px 35px 0px 10px;
}

/* Stijl voor de antwoordknop C */
.answer_c {
    background-color: #FFBF00;
    color: white;
    padding: 20px 50px 20px 0px;
    font-family: 'Cabin', sans-serif;
    font-size: 32px;
    font-weight: 100;
    border-radius: 50px;
    border: none;
    transition: ease.3s;
}

.answer_c:hover {
    letter-spacing: 5px;
    cursor: pointer;
    padding: 20px 80px 20px 60px;
}

.answer_c::before {
    content: "C";
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 32px;
    background-color: black;
    padding: 11px 17px;
    border-radius: 100%;
    font-weight: 100;
    margin: 10px 35px 0px 10px;
}

/* Stijl voor de container van de antwoordknoppen */
.answer_container {
    display: flex;
    row-gap: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Stijl voor de navigatieknoppen */
.navi-buttons {
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
}

.check-button {
    padding: 20px;
    font-size: 32px;
    font-family: 'Rubik Mono One', sans-serif;
}

/* Stijl voor geselecteerd antwoord */
.answer_selected {
    background-color: black;
}

/* Stijl voor het correcte antwoord */
.correct-answer {
    background-color: #50eb10;
}

/* Stijl voor het verkeerde antwoord */
.wrong-answer {
    background-color: red;
}

/* Stijl voor een tijdelijk formulier (bijvoorbeeld voor resultaten) */
.formpje {
    padding: 600px 0px;
}

/* Stijl voor de melding bij het voltooien van de quiz */
.quiz-complete-message {
    text-align: center;
}

/* Stijl voor de knop om resultaten op te halen */
.get-results {
    margin: 300px;
    padding: 20px;
    font-size: 32px;
    font-family: 'Rubik Mono One', sans-serif;
}

/* Animatie voor langzame fade-in */
@keyframes fadeInSlow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.fade-in-slow {
    animation: fadeInSlow 1s ease;
}

/* Animatie voor fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn .2s ease-in-out;
}
/* ResultComponent.css */

/* Overall container styles */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* Title styles */
  .result-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Score styles */
  .score {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #007acc; /* Adjust the color to your preference */
  }
  
  /* Submit score title styles */
  .submit-score-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Form container styles */
  .score-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Name label styles */
  .name-label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  /* Name input styles */
  .name-input {
    padding: 10px;
    border: 1px solid #ccc; /* Adjust the border color to your preference */
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
  }
  
  /* Submit button styles */
  .submit-button {
    background-color: #007acc; /* Adjust the button background color to your preference */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
  }
  
  .submit-button:hover {
    background-color: #005c99; /* Adjust the hover background color to your preference */
  }
  